@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #000;
  font-family: "Roboto Condensed", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/*👇 for preload play/pause svg 😎*/
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}

a,
a:visited,
a:hover {
  text-decoration: none !important;
  color: #03f2c9 !important;
}

header#main-menu {
  height: 65px;
  background: #393939;
  box-shadow: 0 1px 1px rgba(216, 216, 216, 0.25);
  position: relative;
  z-index: 1;
}

header#main-menu .container {
  padding: 10px;
  text-align: center;
}

header#main-menu .container ul li {
  padding: 10px 10px 10px;
  text-align: center;
}

div#banner .container {
}

/*div#banner .container .row .col-sm-12 .carousel .carousel-inner {
  height: 510px;
}*/

div#depoimentos {
  width: 100%;
  background: #393839;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

div#depoimentos .container .row .col-sm-4 .card {
  margin-bottom: 30px;
}

div#com_pod {
  width: 100%;
  background: #c2c2c2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

div#com_pod .container .row .col-sm-4 .card {
  margin-bottom: 30px;
}

div#planos {
  width: 100%;
  background: #393839;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #fff;
}

div#planos .container .row .bloco-plano {
  background: #c2c2c2;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

div#planos .container .row .bloco-plano ul {
  padding-top: 10px;
}

div#planos .container .row .bloco-plano ul li {
  font-size: 14px;
}

div#planos .container .row .bloco-plano .bloco-plano--header {
  margin: -10px;
  margin-bottom: 0;

  background: #0c1c30;

  border: none;
  border-radius: 10px 10px 0px 0px;

  padding-bottom: 5px;
  padding-top: 10px;
}

div#contatos {
  width: 100%;
  background: #c2c2c2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

div#contatos .container .row .col-sm-5 .list-inline-item {
  background: none;
  border: none;
  padding-right: 30px;
}

div#contatos .container .row .col-sm-5 .list-inline-item:first-child {
  padding-left: 80px;
}

div#rodape {
  height: 100%;
  background: #091e4b;
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

div#login {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

div#login .form-body {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 90px;
  background: #fff;
}

div#assinatura {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

a.fontStyle {
 color: #fff !important;
}

img.ImageLogo {
  width: 64px;
}

ul.StyleShadow {
  text-shadow: 0 2px 3px rgba(27, 27, 27, 0.25);
}
