.ListMain {
  list-style:url('/img/triangleArrowLeft.svg');
  list-style-position: inside;
  margin-top: 5px;    

  li {
    margin-bottom: 2.5px;    
    font-size: 2rem;
    font-weight: 600;

    transition: color 0.5s;
    
    &:hover {
      color: #919da6;
      cursor: pointer;      
    }    
  }

  
}

.TitleOperate {
  margin-top: 60px;
}